{% extends 'pages/base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}
<div class="container-fluid content-inner pb-0">
    <div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Genesis Bitcoin Mining, headquartered in the heart of London,<br> we specialize in providing cutting-edge cryptocurrency mining solutions. <br> <hr> 70 St Mary Axe</h4>
                            <p>London, England</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>70 St Mary Axe, City of London, London EC3A 8BE, UK, GW8C+65 London, United Kingdom</p>
                        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!4v1737020531054!6m8!1m7!1sIfjVAHrma5kYz8gf01K2ag!2m2!1d51.5156823237303!2d-0.07957421081404793!3f172.1741839711197!4f4.666762718166339!5f0.7820865974627469" height="500" allowfullscreen=""></iframe>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                          <h4 class="card-title">About Us - Genesis Mining.</h4>
                       </div>
                    </div>
                    <div class="card-body">
                    
                       <p>
                        Welcome to Genesis Mining, a pioneer in the cryptocurrency mining industry since 2009. Founded with a vision to make cryptocurrency mining accessible and efficient, we have grown into one of the most trusted names in the field. Headquartered in the vibrant financial hub of London, United Kingdom, we operate state-of-the-art mining facilities in Iceland and Sweden, taking advantage of the regions’ sustainable energy and advanced technology infrastructure.
                       </p>
                       <p>
                        Our journey began with a simple mission: to harness the power of blockchain technology while contributing to the decentralized financial revolution. Over the years, we have built an extensive network of mining operations that leverage the latest in hardware and software to ensure maximum efficiency and reliability.
                        </p>

                        <p>
                        At Genesis Mining, we are proud to be endorsed and regulated by the U.S. government, reflecting our commitment to operating within the highest standards of integrity and compliance. This recognition ensures that we adhere to strict legal and ethical frameworks, providing peace of mind to our clients and partners as they navigate the dynamic cryptocurrency landscape.
                        </p>

                        <p>
                        We are equally committed to environmental sustainability. Our facilities in Iceland and Sweden are powered by renewable energy, such as geothermal and hydroelectric sources, reflecting our dedication to reducing the environmental impact of cryptocurrency mining.
                        </p>

                        <p>
                        Transparency, security, and innovation are at the heart of everything we do. Whether you’re an individual looking to begin your crypto journey or a seasoned investor, Genesis Mining offers tailored solutions to meet your needs. With over a decade of expertise, we have earned the trust of customers worldwide by delivering consistent performance and customer satisfaction.
                        </p>

                        <p>
                        Join us as we continue to shape the future of digital currencies and blockchain technology. At Genesis Mining, we don’t just mine cryptocurrencies — we mine the future.
                        </p>











                       </p>
                  {% comment %}      <dl class="row">
                          <dt class="col-sm-3">REGULATED BY__</dt>
                          <dd class="col-sm-9"></dd>
                          <dt class="col-sm-3">Euismod</dt>
                          <dd class="col-sm-9">
                             <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                             <p>Donec id elit non mi porta gravida at eget metus.</p>
                          </dd>
                          <dt class="col-sm-3">Malesuada porta</dt>
                          <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
                          <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                          <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                          <dt class="col-sm-3">Nesting</dt>
                          <dd class="col-sm-9">
                             <dl class="row">
                                <dt class="col-sm-4">Nested definition list</dt>
                                <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
                             </dl>
                          </dd>
                       </dl> {% endcomment %}
                    </div>
                </div>



            </div>
        </div>


    </div>
</div>


{% endblock  %}