{% extends 'pages/base.html' %}
{% load static %}

{% block title %} ⚡Home {% endblock %}

{% block content %}



        <div class="container-fluid content-inner pb-0">
    <div class="row">
    <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 d-flex justify-content-between align-items-center">
                            <div>
                                <h1 class="fw-bold mb-3">Welcome to GENESIS MINING</h1>
                                <p>Our Sercured and non public platform for reliable and cybersafe netspace for crypto investment.</p>
                              <a href=" {% url 'UserApp:register_user' %} "> <button type="button" class="btn btn-primary mt-5">Get Onboard</button></a>
                            </div>
                        </div>
                        <div class="col-lg-6 text-center academy-img">
                        </div>
                    </div>
                    <div class=" vertical-scroll vertical-scroll-res text-center">
                            <img src="{% static 'pages/images/special-pages/academy/01.png' %}" class="img-fluid w-30" alt="img1">
                    </div>
                </div>
            </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-between py-4">
                    <h4>Latest Release</h4>
                    <div class="text-primary">
{% comment %}                         <div class="dropdown d-flex" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                            View all

                        </div> {% endcomment %}

                    </div>
                </div>
                <div class="swiper-container d-slider2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                <img src="{% static 'pages/images/special-pages/academy/1.png' %}" class="img-fluid " alt="img8">
                                <div class="mt-4">
                                    <span type="button" class="d-flex align-items-center">
                                    <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                    </svg><span class="text-primary ms-1">finance.yahoo</span></span>
                                </div>
                                <h6 class="mt-3 mb-0">Here's How Crypto Investors Are Thinking About Solana and Ethereum Prices in 2025</h6>
                            </div>
                            <div class="card-body d-flex  align-items-center gap-4">
                        
                                <p class="ms-1 mb-0">Wed, January 22, 2025</p>                           
                                <div class="d-flex align-items-center ">
                                    
                                    {% comment %} <p class="ms-1 mb-0">5m</p>   {% endcomment %}                      
                                </div>
                            </div>
                        </div>                    </div>
                        <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                <img src="{% static 'pages/images/special-pages/academy/2.png'%}" class="img-fluid " alt="img8">
                                <div class="mt-4">
                                    <span type="button" class="d-flex align-items-center">
                                    <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                    </svg><span class="text-primary ms-1">finance.yahoo</span></span>
                                </div>
                                <h6 class="mt-3 mb-0">Crypto industry celebrates after Trump pardons Silk Road creator Ross Ulbricht</h6>
                            </div>
                            <div class="card-body d-flex  align-items-center gap-4">
                        
                                <p class="ms-1 mb-0">Wed, January 22, 2025</p>                           
                                <div class="d-flex align-items-center ">
                                    
                                    {% comment %} <p class="ms-1 mb-0">8m</p>  {% endcomment %}                       
                                </div>
                            </div>
                        </div>                    </div>
                        <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                <img src="{% static 'pages/images/special-pages/academy/5.png'%}" class="img-fluid " alt="img8">
                                <div class="mt-4">
                                    <span type="button" class="d-flex align-items-center">
                                    <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                    </svg><span class="text-primary ms-1">BINANCE SQUARE</span></span>
                                </div>
                                <h6 class="mt-3 mb-0">According to CoinDesk, Bitcoin (BTC) reached a milestone of $100,000 in December 2024</h6>
                            </div>
                            <div class="card-body d-flex  align-items-center gap-4">
                        
                                {% comment %} <p class="ms-1 mb-0">Sep 2,2021</p> {% endcomment %}                           
                                <div class="d-flex align-items-center ">
                                    
                                    {% comment %} <p class="ms-1 mb-0">6m</p> {% endcomment %}                        
                                </div>
                            </div>
                        </div>                    </div>
                        <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                <img src="{% static 'pages/images/special-pages/academy/4.png'%}" class="img-fluid " alt="img8">
                                <div class="mt-4">
                                    <span type="button" class="d-flex align-items-center">
                                    <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                    </svg><span class="text-primary ms-1">coindesk.com</span></span>
                                </div>
                                <h6 class="mt-3 mb-0">Solana Validators Made Over $25M in Fees on TRUMP, MELANIA Memecoins</h6>
                            </div>
                            <div class="card-body d-flex  align-items-center gap-4">
                        
                                <p class="ms-1 mb-0">Jan 22, 2025,</p>                           
                                <div class="d-flex align-items-center ">
                                    
                                    {% comment %} <p class="ms-1 mb-0">5m</p>  {% endcomment %}                       
                                </div>
                            </div>
                        </div>                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                        <div class="card-body row">
                            <div class="col-lg-6 d-flex justify-content-between align-items-center">
                                <div class="">
                                    <h2 class="mb-3">Blockchain & Crypto</h2>
                                    <p>Whether you’re a seasoned investor or new to the crypto space, Genesis Bitcoin Mining is your trusted partner in navigating the world of digital assets.</p>
                                    <a href=" {% url 'UserApp:register_user' %} "><button type="button" class="btn btn-primary mt-4">Start Here </button></a>
                                    
                                </div>
                            </div>
                            <div class="col-lg-6 mt-lg-0 mt-4">
                                <div class="scrolling-text1 vertical-scroll1 vertical-scroll-res1 text-center">
                                    <div>
                                        Genesis
                                    </div>
                                </div>
                                <img src="{% static 'pages/images/special-pages/academy/01.pn'%}g" class="img-fluid" alt="img8">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h4>Trading</h4>                         
                </div>
                <div class="swiper-container d-slider2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-header">
                                    <img src="{% static 'pages/images/special-pages/academy/4.png'%}" class="img-fluid " alt="img8">
                                    <div class="mt-4">
                                        <span type="button" class="d-flex align-items-center">
                                        <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                        </svg><span class="text-primary ms-1">coindesk.com</span></span>
                                    </div>
                                    <h6 class="mt-3 mb-0">Bitcoin Fades From Highs After No Crypto Mentions During Trump's Inauguration Speech</h6>
                                </div>
                                <div class="card-body d-flex  align-items-center gap-4">
                            
                                    <p class="ms-1 mb-0"> Jan 20, 2025,</p>                           
                                    <div class="d-flex align-items-center ">
                                        
                                        {% comment %} <p class="ms-1 mb-0">5m</p>{% endcomment %}                  
                                    </div>
                                </div>
                            </div>                     </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-header">
                                    <img src="{% static 'pages/images/special-pages/academy/2.png'%}" class="img-fluid " alt="img8">
                                    <div class="mt-4">
                                        <span type="button" class="d-flex align-items-center">
                                        <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                        </svg><span class="text-primary ms-1">yahoo.finance</span></span>
                                    </div>
                                    <h6 class="mt-3 mb-0">Trump Boosts Tether, Circle by Tying Stablecoins to Dollar</h6>
                                </div>
                                <div class="card-body d-flex  align-items-center gap-4">
                            
                                    {% comment %} <p class="ms-1 mb-0">Sep 2,2021</p>  {% endcomment %}                          
                                    <div class="d-flex align-items-center ">
                                        
                                       {% comment %}  <p class="ms-1 mb-0">8m</p> {% endcomment %}                        
                                    </div>
                                </div>
                            </div>                     </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-header">
                                    <img src="{% static 'pages/images/special-pages/academy/3.png'%}" class="img-fluid " alt="img8">
                                    <div class="mt-4">
                                        <span type="button" class="d-flex align-items-center">
                                        <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                        </svg><span class="text-primary ms-1">cryptodaily.co.uk</span></span>
                                    </div>
                                    <h6 class="mt-3 mb-0">Solana: The Blockchain</h6>
                                </div>
                                <div class="card-body d-flex  align-items-center gap-4">
                            
                                    <p class="ms-1 mb-0">January 25, 2025</p>                           
                                    <div class="d-flex align-items-center ">
                                        
                                        {% comment %} <p class="ms-1 mb-0">6m</p> {% endcomment %}                        
                                    </div>
                                </div>
                            </div>                     </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-header">
                                    <img src="{% static 'pages/images/special-pages/academy/4.png'%}" class="img-fluid " alt="img8">
                                    <div class="mt-4">
                                        <span type="button" class="d-flex align-items-center">
                                        <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                        </svg><span class="text-primary ms-1">Beginner</span></span>
                                    </div>
                                    <h6 class="mt-3 mb-0">What Are NFT Games and How Do They Work?</h6>
                                </div>
                                <div class="card-body d-flex  align-items-center gap-4">
                            
                                    <p class="ms-1 mb-0">Sep 2,2021</p>                           
                                    <div class="d-flex align-items-center ">
                                        
                                        <p class="ms-1 mb-0">5m</p>                        
                                    </div>
                                </div>
                            </div>                     </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-header">
                                    <img src="{% static 'pages/images/special-pages/academy/1.png'%}" class="img-fluid " alt="img8">
                                    <div class="mt-4">
                                        <span type="button" class="d-flex align-items-center">
                                        <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                        </svg><span class="text-primary ms-1">Beginner</span></span>
                                    </div>
                                    <h6 class="mt-3 mb-0">What Are NFT Games and How Do They Work?</h6>
                                </div>
                                <div class="card-body d-flex  align-items-center gap-4">
                            
                                    <p class="ms-1 mb-0">Sep 2,2021</p>                           
                                    <div class="d-flex align-items-center ">
                                        
                                        <p class="ms-1 mb-0">8m</p>                        
                                    </div>
                                </div>
                            </div>                     </div>
                        <div class="swiper-slide">
                            <div class="card">
                                <div class="card-header">
                                    <img src="{% static 'pages/images/special-pages/academy/4.png'%}" class="img-fluid " alt="img8">
                                    <div class="mt-4">
                                        <span type="button" class="d-flex align-items-center">
                                        <svg width="7" class="me-1 text-center" viewbox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="3.5" cy="4" r="3.5" fill="#ff971d"></circle>
                                        </svg><span class="text-primary ms-1">Beginner</span></span>
                                    </div>
                                    <h6 class="mt-3 mb-0">What Is QuickSwap and How Does It Work?</h6>
                                </div>
                                <div class="card-body d-flex  align-items-center gap-4">
                            
                                    <p class="ms-1 mb-0">Sep 2,2021</p>                           
                                    <div class="d-flex align-items-center ">
                                        
                                        <p class="ms-1 mb-0">6m</p>                        
                                    </div>
                                </div>
                            </div>                     </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="col-lg-12">

        </div>
        <div class="col-md-12 banner-horizontal">
                <div class="iq-video-thumb">            
                    <iframe width="366.38" height="160" src="https://www.youtube.com/embed/EGPofOUVIko?si=cVfIGXvjwa4FlLBN&amp;start=67" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="iq-video-thumb">            
                    <iframe width="366.38" height="160" src="https://www.youtube.com/embed/EyNnvug3AdQ?si=_GEUpZHPRaHPClr9&amp;start=67" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
        </div>     
    </div>
    </div>
        </div>




{% endblock  %}