{% extends 'pages/base.html' %}
{% load static %}

{% block title %} ⚡Home {% endblock %}

{% block content %}

<div class="container-fluid content-inner pb-0">

    <div class="card">
        <div class="card-header d-flex justify-content-between">
           <div class="header-title">
              <h4 class="card-title">GENESIS MINING</h4>
           </div>
        </div>
        <div class="card-body">
         <h3>Who we are</h3>
           <p>
            The story of Genesis Mining started at the end of 2013. Our founders got to know each other by using the same platform for buying and selling Bitcoins. They were fascinated by the technology and wanted to build their own farm, only to realize all their friends wanted to participate as well.</p>
            <p>They came up with the idea of mining as a service and built the first mining farm in Eastern Europe. Since our founding, we have grown tremendously and a lot has happened, but one thing remains constant: We are all strong believers in the future of digital currencies and we love being part of this growing community.</p>

            <h3>Vision & Mission</h3>
            <p>
            Making mining accessible to everyone
            Genesis Mining is one of the leading hashpower providers in the world, offering cryptocurrency mining capacities in every range - for newcomers, interested home miners, as well as large scale investors. Our mission is to make acquiring cryptocurrencies easy and fast for everyone.</p>

            
            <p>
            We provide a multi-algorithm, multi-coin cloud mining service using the latest technology - without any pool fees. The ultimate goal of our existence is to make cryptocurrency mining an easy, smart and rewarding experience for all. Our services already attracted more than 2.000.000 people - We’d be happy to serve you as well!
            </p>

        </div>
    </div>
</div>
{% endblock %}