{% extends 'pages/base.html' %}
{% load static %}

{% block title %} ⚡Home {% endblock %}


   {% block content %}
   

   <div class="container-fluid content-inner pb-0">
    <div class="row">
       <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table data-table list-table">
                    <thead>
                        <tr class="">
                            <th scope="col"><span class="ms-5 me-3"># </span> Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">24h %</th>
                            <th scope="col">7d %</th>
                            <th scope="col">Market Cap</th>
                            <th scope="col">Volume(24h)</th>
                            <th scope="col">Circulating Supply</th>
                            <th scope="col">Last 7 Days</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
          </div>


   {% endblock %}

